:root {
  --n-primary: #1f75ff;
  --n-border: #dde8f1;
  --n-row-hover: #f3f4f6;
  --n-row-selected: #ebf3ff;
  --n-secondary: #a1a8cc;
  --n-orange: #ff9500;
}
@import "./grid.scss";
@import "./table.scss";

.icon {
  &.icon-sm {
    @apply w-[16px] h-[16px] min-w-[16px] min-h-[16px];
  }
  &.icon-md {
    @apply w-[24px] h-[24px] min-w-[24px] min-h-[24px];
  }
  &.icon-lg {
    @apply w-[32px] h-[32px] min-w-[32px] min-h-[32px];
  }
  &.icon-xl {
    @apply w-[48px] h-[48px] min-w-[48px] min-h-[48px];
  }
}
.form-group {
  @apply mb-3; /* mb-4 */
}

/* Label styling */
.form-group label {
  @apply block text-sm font-semibold text-gray-700 mb-2;
  &.large {
    @apply text-[16px] font-bold;
  }
}

.hover-child {
  visibility: hidden;
  opacity: 0;
  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

.hover-parent:hover {
  @apply bg-gray-100;

  .hover-child {
    visibility: visible;
    opacity: 1;
  }
}

.custom-checkbox-input {
  @apply w-[14px] h-[14px] relative bg-white border border-secondary rounded-sm;
  &::before {
    @apply content-[''];
  }
  &.checked,
  &:checked {
    @apply bg-system border-system;
    &::before {
      @apply rotate-45 w-[5px] h-[9px] border-r border-b block translate-x-1;
      transition: transform 0.1s ease-in-out;
    }
  }
}

.text-ellipsis {
  @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.line-clamp-2 {
  @apply whitespace-normal;
}
